<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kerux.admin_thesis_kerux">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".reports.ViewAuditReportsActivity" />
        <activity android:name=".reports.ViewStatReportsActivity" />
        <activity android:name=".reports.GenerateReport"/>
        <activity android:name=".navigation.ManageAccounts" />
        <activity android:name=".navigation.MainActivity" />
        <activity android:name=".navigation.EditProfile"/>
        <activity android:name=".login.Login"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".enrollment.EnrollQM" />
        <activity android:name=".enrollment.EnrollDoctor" />
        <activity android:name=".enrollment.EnrollDept" />
        <activity android:name=".navigation.EnrollmentPage" />
        <activity android:name=".unenrollment.UnenrollDept" />
        <activity android:name=".unenrollment.UnenrollQm" />
        <activity android:name=".unenrollment.UnenrollDoc" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>